---
name: Bluefin Wallpapers
on:
  workflow_dispatch:

jobs:
  bluefin-wallpapers:
    name: Create Release for Bluefin Wallpapers with Plasma Dynamic Wallpaper support
    runs-on: ubuntu-latest
    permissions:
      contents: write
    # We need a newish version of kimageformats, 24.04 doesn't have it
    container: docker.io/library/ubuntu:25.04@sha256:103c7471649a4fd9996fe73dff20f46082e4e0f0f6240c91954b8b09c38b6faf

    steps:

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Create tarball
        shell: bash
        run: |
          mkdir -p output/packaging/kde/
          mkdir -p output/packaging/gnome/
          mv wallpapers/bluefin/kde-support/*.avif output/packaging/kde/
          cp -R wallpapers/bluefin/* output/packaging/gnome/
          cd output/packaging && tar -acvf bluefin-wallpapers.tar.zstd *

      - name: Determine tag
        id: tag
        run: echo "tag=v$(date --iso-8601=date)" >> "$GITHUB_OUTPUT"

      - name: Publish release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          tag:   ${{ steps.tag.outputs.tag }}
          allowUpdates: true
          name:  "${{ steps.tag.outputs.tag }}"
          artifacts: "output/packaging/bluefin-wallpapers.tar.zstd"
          token: ${{ secrets.GITHUB_TOKEN }}
